* {
  margin: 0;
}

.container {
  align-content: center;
  align-items: center;
  background-color: #f9eac3;
  column-gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* gap: 70px; */
  height: 500px;
  justify-content: center;
  padding: 16px;
  row-gap: 10px;
}

.block {
  border-radius: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  height: 150px;
  text-align: center;
  width: 150px;
}

.color-1 {
  background-color: #c6d8f0;
}

.color-2 {
  background-color: #d8bfd8;
}

.color-3 {
  background-color: #ff9999;
}

.color-4 {
  background-color: #9ad162;
}